.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

slick-slide {
  height: auto; 
}

slide {
  margin: 0px 45px;
}

.change {
  display: none;
}	

.change2 {
  display: none;
}	

.change3 {
  display: none;
}	

.container:hover + .change {
  display: block;
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  border-radius: 3px;
  padding: 0.5em 1em;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 20;
    background-color: rgb(72, 75, 98);
    position: absolute;
    margin-top: 8px;
    margin-right: 370px;

 
   
}

.container2:hover + .change2 {
  display: block;
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  border-radius: 3px;
  padding: 0.5em 1em;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 20;
    background-color: rgb(72, 75, 98);
    position: absolute;
    margin-top: 8px;
    margin-right: 415px;

 
   
}

.container3:hover + .change3 {
  display: block;
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  border-radius: 3px;
  padding: 0.5em 1em;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 20;
    background-color: rgb(72, 75, 98);
    position: absolute;
    margin-top: 8px;
    margin-right: 430px;

 
   
}

